@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 style="margin:40px">@ViewData["Title"]</h1>
<p style="margin:40px">
    Please check your email to reset your password.
</p>
