@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
      <meta http-equiv = "refresh" content = "0; url = @Model.EmailConfirmationUrl" />

<h1 style="margin:40px">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p style="margin:40px">
            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
<p style="margin:40px">
        Please check your email to confirm your account.
</p>
    }
}

