@{Layout=null;}

<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
<link href="~/ErrorNotHandle/StyleSheet.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="loading">
  <a style=" margin :10px;width:100px;height=300px;border:none;background: var(--main-color);" href="~/Flights/Flight/Show"><i style="font-size: 50px;" class="fa fa-home"></i></a>
  <br />
  <br />
  <br />
  <br />
  <br />
  <h2>Unexpected Error <b>:(</b></h2>
  <h2>Try again later <b>....</b></h2>

  <div class="gears">
    <div class="gear one">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear two">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear three">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="~/ErrorNotHandle/JavaScript.js" type="text/javascript"></script>

</body>
